# Data Cleaning Process for Flight Delay Dataset

This document provides an overview of the data cleaning process applied to the flight delay dataset.
The steps are outlined to ensure clarity and understanding of the transformations performed on the raw data.

## 1. Importing Libraries

In [13]:
import pandas as pd

## 2. Loading the Dataset

In [14]:
df = pd.read_csv("Airline_Delay_Cause.csv")
pd.options.display.max_columns = None

## 3. Displaying the First Few Rows

In [15]:
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,7,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",33.0,2.0,0.92,1.00,0.08,0.0,0.00,0.0,0.0,129.0,98.0,23.0,8.0,0.0,0.0
1,2022,7,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",78.0,25.0,11.80,0.72,5.01,0.0,7.48,0.0,0.0,1664.0,887.0,52.0,224.0,0.0,501.0
2,2022,7,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",124.0,19.0,5.84,1.00,6.76,0.0,5.40,5.0,4.0,1523.0,388.0,35.0,511.0,0.0,589.0
3,2022,7,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",67.0,10.0,1.32,1.00,2.40,1.0,4.28,0.0,1.0,657.0,103.0,82.0,93.0,25.0,354.0
4,2022,7,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",174.0,30.0,18.10,5.75,3.60,0.0,2.55,1.0,0.0,2462.0,1686.0,310.0,139.0,0.0,327.0

In [16]:
df.describe()

,year,month,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
count,101315.000000,101315.000000,101157.000000,100960.000000,101157.000000,101157.000000,101157.000000,101157.000000,101157.000000,101157.000000,101157.000000,101157.000000,101157.000000,101157.000000,101157.000000,101157.000000,101157.000000
mean,2019.516261,6.279633,336.033413,58.073217,18.457503,2.047227,17.234516,0.153487,20.067422,7.969137,0.773362,3817.083069,1319.266744,212.609785,838.294967,7.370395,1439.534031
std,1.558253,3.438409,942.283273,163.327000,47.042014,6.878678,58.427910,0.734138,63.043181,50.943481,3.395803,11715.243158,3941.461650,810.274436,3390.448796,44.296998,4636.488256
min,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2018.000000,3.000000,42.000000,5.000000,1.920000,0.000000,0.940000,0.000000,1.000000,0.000000,0.000000,265.000000,86.000000,0.000000,24.000000,0.000000,42.000000
50%,2020.000000,6.000000,90.000000,14.000000,5.280000,0.240000,3.200000,0.000000,3.960000,1.000000,0.000000,865.000000,316.000000,12.000000,120.000000,0.000000,253.000000
75%,2021.000000,9.000000,227.000000,40.000000,14.610000,1.660000,9.850000,0.000000,12.640000,4.000000,1.000000,2520.000000,990.000000,132.000000,401.000000,0.000000,916.000000
max,2022.000000,12.000000,21931.000000,4176.000000,1147.000000,226.000000,1884.420000,58.690000,1531.810000,4951.000000,154.000000,429194.000000,151581.000000,28294.000000,112018.000000,3760.000000,147167.000000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101315 entries, 0 to 101314
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 101315 non-null  int64
 1   month                101315 non-null  int64
 2   carrier              101315 non-null  object
 3   carrier_name         101315 non-null  object
 4   airport              101315 non-null  object
 5   airport_name         101315 non-null  object
 6   arr_flights          101157 non-null  float64
 7   arr_del15            100960 non-null  float64
 8   carrier_ct           101157 non-null  float64
 9   weather_ct           101157 non-null  float64
 10  nas_ct               101157 non-null  float64
 11  security_ct          101157 non-null  float64
 12  late_aircraft_ct     101157 non-null  float64
 13  arr_cancelled        101157 non-null  float64
 14  arr_diverted         101157 non-null  float64
 15  arr_delay            101157 non-null  float64
 16  carrier_delay        101157 non-null  float64
 17  weather_delay        101157 non-null  float64
 18  nas_delay            101157 non-null  float64
 19  security_delay       101157 non-null  float64
 20  late_aircraft_delay  101157 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 16.2+ MB

## 4. Dropping Unnecessary Columns

In [18]:
df.drop(columns=['arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct', 
                  'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted', ], axis = 1, inplace = True)

## 5. Handling Missing Data

In [19]:
df.isnull().sum()
df.dropna(axis = 0, inplace = True)

## 6. Converting Data Types

In [20]:
df['Date'] = pd.to_datetime(df[['year', 'month']].assign(Day=1))
df['Date'] = df['Date'].dt.strftime('%B %Y')

df['Date'] = pd.to_datetime(df.Date)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_1876\2734116835.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df.Date)

## 7. Splitting airport_name Column into city and airport_name

In [21]:
df[['city', 'airport_name']] = df['airport_name'].str.split(':', expand=True) 

df[['city', 'state']] = df['city'].str.split(',', expand=True)

## 8. Reordering Columns in the DataFrame

In [22]:
desired_order = [
    'year', 'month', 'Date', 'carrier', 'carrier_name', 'airport', 
    'city', 'state', 'airport_name', 'arr_delay', 'carrier_delay', 
    'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'
]

df = df[desired_order]

In [23]:
df.head()

,year,month,Date,carrier,carrier_name,airport,city,state,airport_name,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,7,2022-07-01,9E,Endeavor Air Inc.,ABE,Allentown/Bethlehem/Easton,PA,Lehigh Valley International,129.0,98.0,23.0,8.0,0.0,0.0
1,2022,7,2022-07-01,9E,Endeavor Air Inc.,ABY,Albany,GA,Southwest Georgia Regional,1664.0,887.0,52.0,224.0,0.0,501.0
2,2022,7,2022-07-01,9E,Endeavor Air Inc.,ACK,Nantucket,MA,Nantucket Memorial,1523.0,388.0,35.0,511.0,0.0,589.0
3,2022,7,2022-07-01,9E,Endeavor Air Inc.,AEX,Alexandria,LA,Alexandria International,657.0,103.0,82.0,93.0,25.0,354.0
4,2022,7,2022-07-01,9E,Endeavor Air Inc.,AGS,Augusta,GA,Augusta Regional at Bush Field,2462.0,1686.0,310.0,139.0,0.0,327.0

## 9. Saving the Cleaned Dataset

In [24]:
df.to_excel("Cleaned_DelayedFlights.xlsx", index=False)

## Conclusion
These steps outline the data cleaning process applied to the flight delay dataset. 
By following these steps, the raw data is transformed into a cleaner version, making it more suitable for analysis and modeling.